.teamTravelFormContainer{
    display: flex;
    flex-direction: column;
}
.searchContainer{
    display:flex;
}
.teamTravelFormContent{
    display:flex;
    flex-direction: column;
    gap:1rem;
}

