// @import "../../assets/styleSheet/mixins.scss";
.buttonColor{
  border-radius: 0.32rem;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  width: 8rem;
  height: 1.7rem;
  border: none;
  background-color: #73CF8D;
}

.reject {
  background-color: #E7717D;
}
.cancel {
  background-color: #D9D9D9;
}