$background-color: #fff;
$white-color:white;
$grey-color:grey;
$font-size:1rem;
$border-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
$blue-color:#3160d6;
$red-color:red;
$red-color:red;
