.successMessage {
    position: fixed;
    top: 80px;
    right: 20px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .successMessage.show {
    opacity: 1;
  }

  .rejectedMessage {
    background-color: red;
  }
  